In [1]:
import numpy as np
import pandas as pd
from random import randint
import matplotlib.pyplot as plt
import random

In [2]:
age = [random.randint(20 , 60) for _ in range(500)]
salary = [random.randint(20000,80000) for _ in range(500)]
family_mem = [random.randint(3,8) for _ in range(500)]
house = [random.randint(0,1) for _ in range(500)]

data={
    "Age":age,
    "Salary":salary,
    "Family_mem":family_mem,
    "House":house
}
df = pd.DataFrame(data)
df

     Age  Salary  Family_mem  House
0     38   21299           5      1
1     44   35008           6      1
2     46   74089           7      0
3     52   20542           5      0
4     22   54399           3      1
..   ...     ...         ...    ...
495   27   44076           3      0
496   33   40734           4      1
497   57   55079           4      1
498   42   37610           3      1
499   38   52072           8      1

[500 rows x 4 columns]

In [3]:
#Binarisation
df["Age"] = pd.qcut(df["Age"],q=2,labels = [0,1]).astype(int)
df["Salary"] = pd.qcut(df["Salary"],q=2,labels = [0,1]).astype(int)
df["Family_mem"] = pd.qcut(df["Salary"],q =2, labels =[0,1]).astype(int)
df

     Age  Salary  Family_mem  House
0      0       0           0      1
1      1       0           0      1
2      1       1           1      0
3      1       0           0      0
4      0       1           1      1
..   ...     ...         ...    ...
495    0       0           0      0
496    0       0           0      1
497    1       1           1      1
498    1       0           0      1
499    0       1           1      1

[500 rows x 4 columns]

In [4]:
from sklearn.model_selection import train_test_split
X = df.drop(columns = ["House"]).astype(int)
Y = df["House"].astype(int)

x_train , x_test , y_train , y_test = train_test_split(X,Y,test_size = 0.3,stratify = Y , random_state = 1)

In [5]:
from sklearn.metrics import accuracy_score

In [6]:
#Perceptron Model
class Perceptron:
    def init(self):
        self.w = None
        self.b = None


    def model(self , x):
        return 1 if (np.dot(self.w , x)>= self.b) else 0


    def predict(self, X):
        Y=[]
        for x in X:
            ans = self.model(x)
            Y.append(ans)
        return np.array(Y)

    def fit(self,X,Y,epochs = 1,lr = 1):
        self.w = np.ones(X.shape[1])
        self.b = 0

        accuracy = {}
        max_accu = 0

        wt_matrix = []

        for i in range(epochs):
            for x , y in zip(X,Y):
                y_pred = self.model(x)
                if y == 1 and y_pred == 0:
                    self.w = self.w + lr*x
                    self.b = self.b - lr*1
                if y==0 and y_pred == 1:
                    self.w = self.w - lr*x
                    self.b = self.b + lr *1

            wt_matrix.append(self.w)
            accuracy[i] = accuracy_score(self.predict(X),Y)
            if accuracy[i] > max_accu:
                max_accu = accuracy[i]
                s_w = self.w
                s_b = self.b

        self.w = s_w
        self.b = s_b

        print(f"the maximun accuracy is {max_accu}")

        return np.array(wt_matrix)

In [7]:
perceptron = Perceptron()

In [8]:
wt_matrix = perceptron.fit(x_train.values , y_train.values,10000,0.1)

the maximun accuracy is 0.4542857142857143

In [9]:
test_pred = perceptron.predict(x_test.values)
print(accuracy_score(test_pred ,y_test.values))

0.4533333333333333